@page
@model WebRazor.Pages.Admin.Employee.IndexModel
@{
}
<div class="path-admin">EMPLOYEE LIST</div>

<div id="content-main-dashboard">
    <div id="product-title-header">
    </div>

    <div id="order-table-admin">
        <table id="orders">
            <tr>
                <th>EmployeeId</th>
                <th>Full Name</th>
                <th>Title</th>
                <th>Title Of Courtery</th>
                <th>Address</th>
                <th>Birth Date</th>
                <th>Hire Date</th>
                <th>Active</th>
            </tr>
            @foreach (var emp in Model.Employees)
            {
                <tr>
                    <td>#@emp.EmployeeId</td>
                    <td>@emp.FirstName @emp.LastName</td>
                    <td>@emp.Title</td>
                    <td>@emp.TitleOfCourtesy</td>
                    <td>@emp.Address</td>
                    <td>@((emp.BirthDate == null ? DateTime.Now : (DateTime)emp.BirthDate).ToString("dd/MM/yyyy"))</td>
                    <td>@((emp.HireDate == null ? DateTime.Now : (DateTime)emp.HireDate).ToString("dd/MM/yyyy"))</td>
                    <td>
                        <a class="delete" id="@emp.EmployeeId"
                       asp-page="/Admin/Employee/Index" asp-route-id="@emp.EmployeeId"
                       asp-page-handler="Active">@((bool)emp.Active ? "Active" : "Deactive")</a>
                    </td>
                </tr>
            }
        </table>
    </div>

    <div id="paging">
        <div class="pagination">
            @foreach (var item in Model.PagesLink)
            {
                @Html.Raw(item)
            }
        </div>
    </div>
</div>